html{
    scroll-behavior: smooth;
}
.container{
    width: 1090px;
    margin: 0 auto;
    padding: 0 175px;
}
body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-image: url(../images/body.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
*,
::after,
::before {
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: 0;
    margin-top: 0;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
}
p, span{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 12px; 
}
ul,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: $backgroundBtn;
    font-family: 'Montserrat Alternates', sans-serif;
}
img{
    display: block;
    width: 100%;
}
.dark{
    background-image: url(../images/blackback.avif);
    .container, section{
        background-color: $darkBackground;
    }
    h1, h2, h3, h4, h5, h6, a, p, span{
        color: $darkColor;
    }
    .header__light-circle, .border{
        background-color: $darkBackground;
    }
   svg{
        fill: $darkColor;
        stroke: $darkColor;
    }
    .header__logo, .footer__logo-icon{
        fill: none;  
    }
    input{
        border: 1px solid $darkColor;
        background-color: transparent;
        color: $darkColor;
    }
    .header__modal, .modal{
        background-color: $darkBackground;
        background-image: none;
    }
    .football__field{
        background-color: rgb(16, 92, 8);
        border-color: $darkColor;
    }
}