$incorrectAnswer: #990000;
$backgroundBtn: #000;
$backgroungSelect: #F1F1F1;
$backgroundAll: #FFF;
$backgroundInput: #D7D7D7;
$inputText: #7E7E7E;
$backgroundCard: #D9D9D9;
$correctAnswer: #039900;
$backgroundPitch: #5ABB58;
$backgroundLights: #7A7A7A;