<!-- David -->
<section id="9" class="slider container">
  <div class="border"></div>
  <h2 class="slider__title">Наша команда</h2>
  <div class="slider__div">
    <button class="slider__button" id="prevBtn">
      <svg
        class="arrow"
        width="52"
        height="102"
        viewBox="0 0 52 102"
        fill="none"
        xmlns="svg"
      >
        <path d="M51 1L1 51L51 101"  />
      </svg>
    </button>

    <div class="slider__slider">
      <div class="slide active">
        <img src="./images/nika.jpg" alt="david" class="images" />
        <div class="slider__text-wrap">
          <div class="name-align">
            <span class="name">Nika Deeva</span>
          </div>
          <ul class="slider__list">
            <li class="slider__item">
              <p class="slider__position">TEAM LEAD</p>
            </li>
            <li class="slider__item">
              <p class="slider__p">- Header</p>
            </li>
            <li>
              <p class="slider__p">- Footer</p>
            </li>
            <li>
              <p class="slider__p">- Stone scissors paper</p>
            </li>
            <li>
              <p class="slider__p">- Calculator</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="slide">
        <img src="./images/yulia.jpeg" alt="yulia" class="images" />
        <div class="slider__text-wrap">
          <div class="name-align">
            <span class="name">Yulia Pedchenko</span>
          </div>
          <ul class="slider__list">
            <li class="slider__item">
              <p class="slider__position">SCRAM MASTER</p>
            </li>
            <li class="slider__item">
              <p class="slider__p">- Football</p>
            </li>
            <li>
              <p class="slider__p">- Dinosaur</p>
            </li>
            <li>
              <p class="slider__p">- Cards with scientists</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="slide">
        <img src="./images/david.jpeg" alt="david" class="images" />
        <div class="slider__text-wrap">
          <div class="name-align">
            <span class="name">David Mitseruk</span>
          </div>
          <ul class="slider__list">
            <li class="slider__item">
              <p class="slider__position">FRONT-END DEVELOPER</p>
            </li>
            <li class="slider__item">
              <p class="slider__p">- Number game</p>
            </li>
            <li>
              <p class="slider__p">- Silder about team</p>
            </li>
            <li>
              <p class="slider__p">- Cards with scientists</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="slide">
        <img src="./images/dima.jpeg" alt="david" class="images" />
        <div class="slider__text-wrap">
          <div class="name-align">
            <span class="name">Dmytro Khludov</span>
          </div>
          <ul class="slider__list">
            <li class="slider__item">
              <p class="slider__position">FRONT-END DEVELOPER</p>
            </li>
            <li class="slider__item">
              <p class="slider__p">- Year</p>
            </li>
            <li>
              <p class="slider__p">- Computer's number</p>
            </li>
            <li>
              <p class="slider__p">- Time calculator</p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <button class="slider__button" id="nextBtn">
      <svg
      class="arrow"
        width="52"
        height="102"
        viewBox="0 0 52 102"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 1L51 51L1 101" />
      </svg>
    </button>
  </div>

  <div class="pagination">
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</section>
