<!-- David and Yulia -->
<section class="scientist" id="10">
  <div class="container">
    <div class="border"></div>
    <h2 class="scientist__title">Обери вченого/их</h2>
    <ul class="scientist__list">
      <li class="scientist__item">
        <!-- <img src="./images/card.png" alt="bg" /> -->
      </li>
      <li class="scientist__item">
        <!-- <img src="./images/card.png" alt="bg" /> -->
      </li>
      <li class="scientist__item">
        <!-- <img src="./images/card.png" alt="bg" /> -->
      </li>
      <li class="scientist__item">
        <!-- <img src="./images/card.png" alt="bg" /> -->
      </li>
      <li class="scientist__item">
        <!-- <img src="./images/card.png" alt="bg" /> -->
      </li>
      <li class="scientist__item">
        <!-- <img src="./images/card.png" alt="bg" /> -->
      </li>
      <li class="scientist__item">
        <!-- <img src="./images/card.png" alt="bg" /> -->
      </li>
      <li class="scientist__item">
        <!-- <img src="./images/card.png" alt="bg" /> -->
      </li>
      <li class="scientist__item">
        <!-- <img src="./images/card.png" alt="bg" /> -->
      </li>
      <li class="scientist__item">
        <!-- <img src="./images/card.png" alt="bg" /> -->
      </li>
      <li class="scientist__item">
        <!-- <img src="./images/card.png" alt="bg" /> -->
      </li>
      <li class="scientist__item">
        <!-- <img src="./images/card.png" alt="bg" /> -->
      </li>
    </ul>
  </div>
</section>
