<!-- Nika -->
 <section class="three container">
    <div class="border"></div>
    <div class="three__base">
    <h2 class="three__title">Камінь - ножиці - папір</h2>
    <ul class="three__list">
        <li class="three__item">
<button class="three__btn stone">
    <img class="three__img" src="./images/stone.png" alt="">
</button>
        </li>
        <li class="three__item">
<button class="three__btn scissors">
    <img class="three__img" src="./images/scissors.png" alt="">
</button>
        </li>
        <li class="three__item">
<button class="three__btn paper">
    <img class="three__img" src="./images/paper.png" alt="">
</button>
        </li>
    </ul>
    <p class="three__massage"></p>
    <div class="three__feedback"></div>
</div>
    <div class="three__result">
        <p class="three__result-text">Рахунок: <br>
            <br>
            Комп’ютер - 0 <br>
            <br>
            Ви - 0
        </p>
    </div>
 </section>