<!-- Nika -->
 <section class="calculator container" id="4">
    <div class="border"></div>
    <h2 class="calculator__title">Калькулятор</h2>
    <div class="calculator__wrap">
        <input type="text" class="calculator__firstNum" placeholder="Введіть число">
        <ul class="calculator__symbols">
            <li class="calculator__symbol">
                <button class="calculator__symbol-btn" id="plus">+</button>
            </li>
            <li class="calculator__symbol">
                <button class="calculator__symbol-btn" id="multy">*</button>
            </li>
            <li class="calculator__symbol">
                <button class="calculator__symbol-btn" id="rest">-</button>
            </li>
            <li class="calculator__symbol">
                <button class="calculator__symbol-btn" id="divide">/</button>
            </li>
        </ul>
        <input type="text" class="calculator__secondNum" placeholder="Введіть число">
        <button class="calculator__equal">=</button>
        <input type="text" class="calculator__result" placeholder="Результат">
    </div>
 </section>