<!-- David and Yulia -->
<section class="scientist" id="10">
  <div class="scientist__container scientist__bg">
    <div class="border"></div>
    <h2 class="scientist__title">Обери вченого/их</h2>
    <ul class="scientist__list">
      <li class="scientist__item"></li>
      <li class="scientist__item"></li>
      <li class="scientist__item"></li>
      <li class="scientist__item"></li>
      <li class="scientist__item"></li>
      <li class="scientist__item"></li>
      <li class="scientist__item"></li>
      <li class="scientist__item"></li>
      <li class="scientist__item"></li>
      <li class="scientist__item"></li>
      <li class="scientist__item"></li>
      <li class="scientist__item"></li>
    </ul>
    <div class="wrap">
      <div class="wrap__item">
        <ul class="scientist__btn-list scientist__btn-list-first">
          <li class="scientist__btn-item">
            <button class="scientist__btn" id="btnBorn">
              Які вчені народилися в 19 ст.
            </button>
          </li>
          <li class="scientist__btn-item">
            <button class="scientist__btn" id="btnSortAlphabet">
              Відсортувати вчених за алфавітом
            </button>
          </li>
          <li class="scientist__btn-item">
            <button class="scientist__btn" id="btnSortYearsLived">
              Відсортувати вчених за кількістю прожитих років
            </button>
          </li>
          <li class="scientist__btn-item">
            <button class="scientist__btn" id="btnBornLate">
              Знайти вченого, який народився найпізніше
            </button>
          </li>
        </ul>
      </div>
      <div class="wrap__item">
        <ul class="scientist__btn-list scientist__btn-list-second">
          <li class="scientist__btn-item">
            <button class="scientist__btn" id="btnAlbertBorn">
              Знайти рік народження Albert Einshtein
            </button>
          </li>
          <li class="scientist__btn-item">
            <button class="scientist__btn" id="btnSearchSurname">
              Знайти вчених, прізвища яких починаються на на літеру “С”
            </button>
          </li>
          <li class="scientist__btn-item">
            <button class="scientist__btn" id="btnDeleteName">
              Видалити всіх вчених, ім’я яких починається на “А”
            </button>
          </li>
          <li class="scientist__btn-item">
            <button class="scientist__btn" id="btnLiveLess">
              Знайти вченого, який прожив найдовше і вченого, який прожив
              найменше
            </button>
          </li>
        </ul>
      </div>
      <div class="wrap__item scientist__btn-item">
        <button class="scientist__btn" id="btnSameLetters">
          Знайти вчених, в яких співпадають перші літери імені і прізвища
        </button>
      </div>
    </div>
  </div>
</section>
