<!-- David -->
<section id="9" class="slider container">
  <div class="border"></div>
  <h2 class="slider__title">Наша команда</h2>
  <div class="slider__div">
    <button class="slider__button" id="prevBtn">
      <svg
        class="arrow"
        width="52"
        height="102"
        viewBox="0 0 52 102"
        fill="none"
        xmlns="svg"
      >
        <path d="M51 1L1 51L51 101" stroke="black" />
      </svg>
    </button>

    <div class="slider__slider">
      <div class="slide active">
        <img src="./images/nika.jpg" alt="david" class="images" />
        <div class="slider__text-wrap">
          <div class="name-align">
            <span class="name">Nika Deeva</span>
          </div>
          <ul class="slider__list">
            <li class="slider__item">
              <p class="slider__position">TEAM LEAD</p>
            </li>
            <li class="slider__item">
              <p class="slider__p">- Header</p>
            </li>
            <li>
              <p class="slider__p">- Footer</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="slide">
        <img src="./images/yulia.jpeg" alt="yulia" class="images" />
        <div class="name-align">
          <span class="name">Yulia</span>
        </div>
        <p class="slider__p">
          SCRAM MASTER <br />
          <br />
          1. Football game <br />
          2. Dinosaur game <br />
          3. Cards
        </p>
      </div>
      <div class="slide">
        <img src="./images/david.jpeg" alt="david" class="images" />
        <div class="name-align">
          <span class="name">David</span>
        </div>
        <p class="slider__p">
          1. Number game <br />
          2. Silder <br />
          3. Cards
        </p>
      </div>
      <div class="slide">
        <img src="./images/dima.jpeg" alt="david" class="images" />
        <div class="name-align">
          <span class="name">Dima</span>
        </div>
        <p class="slider__p">First 5 tasks! <br /></p>
      </div>
    </div>

    <button class="slider__button" id="nextBtn">
      <svg
        width="52"
        height="102"
        viewBox="0 0 52 102"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 1L51 51L1 101" stroke="black" />
      </svg>
    </button>
  </div>

  <div class="pagination">
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</section>
