<!-- David -->
 <section class="number container">
    <div class="border"></div>
    <h2 class="number__title">Введіть 3 числа</h2>
    <div class="number__align">
        <input type="text" id="num1" class="number__numbers" placeholder="Введіть число">

        <input type="text" id="num2" class="number__numbers" placeholder="Введіть число">

        <input type="text" id="num3" class="number__numbers" placeholder="Введіть число">
    </div>
       
        <div class="number__div">
            <span class="number__resultat">Найбільше число, яке ви ввели -</span> <p id="result" class="number__resulta">(число)</p>
        </div>
        
 </section>