<!-- Dima -->
<section class="time-calc container" id="5">
    <div class="border"></div>
    <h2 class="time-calc__title">Калькулятор часу</h2>
    <ul class="time-calc__list">
        <li class="time-calc__field">
            <input type="text" class="time-calc__input" placeholder="Введіть число">
            <button type="button" class="time-calc__but" aria-label="search">
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="6.52174" cy="6.52174" r="5.52174" stroke="white" stroke-width="2" />
                    <path
                        d="M14.2929 15.7071C14.6834 16.0976 15.3166 16.0976 15.7071 15.7071C16.0976 15.3166 16.0976 14.6834 15.7071 14.2929L14.2929 15.7071ZM11.468 10.0538L10.7609 9.34665L9.34666 10.7609L10.0538 11.468L11.468 10.0538ZM15.7071 14.2929L11.468 10.0538L10.0538 11.468L14.2929 15.7071L15.7071 14.2929Z"
                        fill="white" />
                </svg>
            </button>
        </li>
        <li class="time-calc__indentation">
            <svg width="100" height="2" viewBox="0 0 100 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 1H100" stroke-dasharray="2 2" />
            </svg>
        </li>
        <li class="time-calc__result">0 дн. 00:00</li>
    </ul>
</section>