<!-- David -->
<section class="slider container">
  <h2 class="slider__title">Наша команда</h2>
  <div class="slider__div">
    <button
      class="slider__button"
      id="prevBtn">
      <svg
        width="52"
        height="102"
        viewBox="0 0 52 102"
        fill="none"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M51 1L1 51L51 101" stroke="black" />
      </svg>
    </button>

    <div class="slider__slider">
      <div class="slide active">
        <img src="./images/yulia.jpeg" alt="yulia">
      </div>
      <div class="slide">
        <img src="./images/david.jpeg" alt="david">
      </div>
      <div class="slide">3</div>
    </div>

    <button
      class="slider__button"
      id="nextBtn"
    >
      <svg
        width="52"
        height="102"
        viewBox="0 0 52 102"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1 1L51 51L1 101" stroke="black" />
      </svg>
    </button>
  </div>
  <span class="slider__span">Ім’я студента</span>
  <p class="slider__p">Інформація про роботу, яку він/вона виконав/ла</p>
  <div class="pagination">
    <div class="dot active"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
</section>
