<!-- Nika -->
 <footer class="footer">
<div class="footer__logo-wrap">
    <img src="./images/footerlogo.png" class="footer__logo" alt="">
</div>
<ul class="footer-list">
    <li class="footer__item">
        <p class="footer__text">Тел: +38 (123) 456 78 90</p>
    </li>
    <li class="footer__item">
        <p class="footer__text">E-Mail: codingmagic@gmail.com</p>
    </li>
    <li class="footer__item">
        <p class="footer__text">Facebook: CodingMagic</p>
    </li>
    <li class="footer__item">
        <p class="footer__text">Twitter: CodingMagic</p>
    </li>
    <li class="footer__item">
        <p class="footer__text">Instagram: CodingMagic</p>
    </li>
</ul>
<div class="footer__subscribe">
    <label class="footer__label">
        <input type="email" required class="footer__mail" placeholder="Ваша ел. адреса...">
        <button class="footer__btn">Підписатись</button>
    </label>
    <span class="footer__describe">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</span>
</div>
 </footer>