<!-- Nika -->
 <footer id="footer" class="footer container">
<div class="footer__logo-wrap">
    <svg class="footer__logo-icon">
        <use href="./images/symbol-defs.svg#icon-logo"></use>
    </svg>
</div>
<ul class="footer-list">
    <li class="footer__item">
        <p class="footer__text">Тел: <a class="footer__link" href="#">+38 (123) 456 78 90</a></p> 
    </li>
    <li class="footer__item">
        <p class="footer__text">E-Mail: <a class="footer__link" href="#">codingmagic@gmail.com</a></p> 
    </li>
    <li class="footer__item">
        <p class="footer__text">Facebook: <a class="footer__link" href="#">CodingMagic</a></p> 
    </li>
    <li class="footer__item">
        <p class="footer__text">Twitter: <a class="footer__link" href="#">CodingMagic</a></p> 
    </li>
    <li class="footer__item">
        <p class="footer__text">Instagram: <a class="footer__link" href="#">CodingMagic</a></p> 
    </li>
</ul>
<div class="footer__subscribe">
    <label class="footer__label">
        <input type="email" required class="footer__mail" placeholder="Ваша ел. адреса...">
        <button class="footer__btn" type="button" data-modal-open>Підписатись</button>
    </label>
    <span class="footer__describe">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</span>
</div>
<div class="backdrop is-hidden" data-modal>
    <div class="modal">
       <div class="modal__close-wrap">
        <button class="modal__close" type="button" data-modal-close>
            <svg class="modal__close-icon">
                <use href="./images/symbol-defs.svg#icon-cross"></use>
            </svg>
        </button>
       </div>
       <h2 class="modal__title">Дякую за підписку!</h2>
    </div>
</div>
 </footer>