<!-- Nika -->
 <header class="header container">
    <div class="header__logo-wrap">
        <img src="./images/footerlogo.png" class="header__logo" alt="">
    </div>
    <nav class="header__nav">
        <ul class="header__list">
            <li class="header__item header__open-menu">
                <a href="#" type="button" class="header__link">Інтерактив</a>
                <img src="./images/arrowdown.png" alt="" width="9" height="5">
            </li>
            <li class="header__item">
                <a href="#" class="header__link">Наша команда</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__link">Контакти</a>
            </li>
        </ul>
    </nav>
    <div class="header__menu"></div>
        <ul class="header__menu-list">
            <li class="header__menu-item">
                <a href="./partials/card-one.html">Числовий</a>
            </li>
            <li class="header__menu-item">
                <a href="./partials/card-six.html">Ігровий</a>
            </li>
            <li class="header__menu-item">
                <a href="./partials/card-ten.html">Ознайомчий</a>
            </li>
        </ul>
    </div>
    <div class="header__wrap">
        <button class="header__light"></button>
        <p class="header__wellcome">Вітаємо, User!</p>
    </div>
    <div class="backdrop is-hidden" >
        <div class="header__modal">
          <div class="header__close-wrap">
            <button class="header__close">
                <svg class="header__close-icon">
                    <use href="./images/cross.svg"></use>
                </svg>
            </button>
          </div>
          <p class="header__modal-text">Привіт!
            Ви потрапили на сайт інтерактивних ігор та завдань
            Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
            Бажаємо Вам гарно провести час!</p>
         <label class="header__modal-fill">
            <p class="header__modal-ask">Введіть своє ім'я</p>
            <input type="text" class="header__modal-name" placeholder="Ваше ім'я...">
            <button class="header__modal-save">Зберегти</button>
         </label>
        </div>
    </div>
 </header>