.slider {
  background-color: $backgroundAll;
  padding: 0 92px;
  .border {
    display: flex;
    margin: 0 auto;
    background-color: $backgroundBtn;
    width: 536px;
    height: 1px;
    margin-bottom: 36px;
  }
  &__title {
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin: 36px 0px;
    text-align: center;
  }
  &__div {
    display: flex;
    height: 300px;
    align-items: center;
  }
  &__slider {
    margin: 0px 115px;
    border-radius: 20px;
    width: 576px;
    display: flex;
  }
  &__button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    height: 100px;
  }
  &__text-wrap {
    margin-top: 20px;
  }
  &__position {
    font-weight: 500;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
  }
  &__iten:nth-child(2) {
    margin-top: 15px;
  }
  &__p {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    color: #000;
    margin-top: 5px;
  }
}
.slide {
  display: flex;
}
.slider__button:disabled {
  cursor: not-allowed;
}
.slide {
  display: none;
}
.slide.active {
  display: flex;
}
.pagination {
  display: flex;
  width: 174px;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 auto;
  margin-top: 30px;
}
.dot {
  width: 18px;
  height: 3px;
  border-radius: 3px;
  background-color: #d9d9d9;
  transition: width 250ms ease-in-out;
}
.dot.active {
  width: 30px;
  background-color: #797979;
}
.images {
  border-radius: 20px;
  width: 250px;
  height: 250px;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  margin-right: 25px;
}
.arrow {
  stroke: #000;
}
.name {
  font-weight: 400;
  font-size: 36px;
  color: #000;
}
