.header{
    padding-top: 21px;
    padding-bottom: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $backgroundAll;
    margin: 0 auto;
    &__logo{
        width: 93px;
    }
    &__list{
        display: flex;
        justify-content: space-around;
    }
    &__item{
        margin-right: 50px;
    }
    &__open-menu{
cursor: pointer;
display: flex;
align-items: center;

    }
    &__link{
font-size: 12px;
font-weight: 400;
    }
    &__link:first-child{
        margin-right: 10px;
    }
    &__wellcome{
        font-size: 12px;
font-weight: 400;
    }

&__menu {
    display: none; 
    position: absolute;
    top: 100%; 
    left: 0;
    background-color: $backgroundAll; 
    z-index: 10;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    width: 160px;
}

.show {
    display: block; 
}

&__menu-item {
    padding: 10px 20px;
    cursor: pointer;
}

&__menu-item a {
    font-size: 12px;
    color: #000; 
    text-decoration: none;
}

&__menu-item:hover {
    background-color: $backgroungSelect; 
}
&__wrap{
    display: flex;
    align-items: center;
}
&__modal-open{
    background-color: transparent;
    border: none;
    margin-left: 15px;
    cursor: pointer;
}
&__user{
    width: 30px;
    height: 30px;
}
&__modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 576px;
    min-height: 316px;
    background-color: $backgroundAll;
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
    transition: opacity 500ms cubic-bezier(0.83, -0.08, 0.32, 1) 250ms;
    background-image: url(../images/footerback.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 999;
}
&__close{
    display: flex;
    background-color: transparent;
    border: none;
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 20px;
    cursor: pointer;
}
&__close-icon{
    fill: black;
    width: 15px;
    height: 15px;
}
&__modal-text{
    text-align: center;
    max-width: 392px;
    padding-bottom: 22px;
    margin: 0 auto;
}
&__modal-ask{
    text-align: center;
    margin-bottom: 18px;
}
&__modal-fill{
    display: flex;
    justify-content: center;
}
&__modal-name{
    border: none;
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 80px;
        padding-left: 10px;
        max-width: 169px;
       background-color: $backgroundInput;
       margin-bottom: 18px;
}
&__modal-name::placeholder{
    font-size: 12px;
        font-weight: 400;
        text-align: start;
        color: $inputText;
        font-family: "Montserrat Alternates", sans-serif;
}
&__modal-save{
    border: 1px solid $backgroundBtn;
        border-radius: 20px;
         color: $backgroundAll;
        background-color: $backgroundBtn;
        padding: 10px;
        font-size: 12px;
        font-weight: 400;
        cursor: pointer;
        font-family: "Montserrat Alternates", sans-serif;
        display: block;
        margin: 0 auto;
}
}