.header{
    padding-top: 21px;
    padding-bottom: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: $backgroundAll;
    margin: 0 auto;
    &__logo{
        width: 93px;
    }
    &__list{
        display: flex;
    }
    &__open-menu{
cursor: pointer;
    }
    .show{
        display: block;
    }
    &__menu{
        position: relative;
        display: inline-block;
    }
    &__menu-list{
        display: none;
        position: absolute;
        background-color: $backgroundAll;
        z-index: 99;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        width: 160px;
    }
    &__menu-item{
        cursor: pointer;
        display: block;
        &:hover{
            background-color: $inputText;
        }
    }
    &__menu-item a{
        font-size: 12px;
        font-weight: 400;
        padding: 10px 55px;
    }
    &__link{
font-size: 12px;
font-weight: 400;
    }
    &__wellcome{
        font-size: 12px;
font-weight: 400;
    }
}